@import "_icons";

.wallery{
    .outline {
        border: 3px dashed #e5e5e5;
        padding: 40px;
        cursor: pointer;
        .wallery-upload{
            font-size: 60px;
        }
    }

    .wrapper {
        text-align: center;
    }
}