@font-face {
  font-family: "wallery";
  src: url("../fonts/wallery.eot");
  src: url("../fonts/wallery.eot?#iefix") format("embedded-opentype"), url("../fonts/wallery.woff") format("woff"), url("../fonts/wallery.ttf") format("truetype"), url("../fonts/wallery.svg#wallery") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "wallery" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="wallery-"]:before,
[class*=" wallery-"]:before {
  font-family: "wallery" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wallery-upload:before {
  content: "\61";
}

.wallery-trash:before {
  content: "\62";
}

.wallery-upload-cloud:before {
  content: "\63";
}

.wallery-list:before {
  content: "\64";
}

.wallery-layout:before {
  content: "\65";
}

.wallery-retweet:before {
  content: "\66";
}

.clearfix {
  clear: both;
}

.wallery .outline {
  border: 3px dashed #e5e5e5;
  padding: 20px;
  cursor: pointer;
}
.wallery .outline .wallery-upload {
  font-size: 60px;
}
.wallery .wrapper {
  text-align: center;
}
.wallery .select-image-box {
  padding: 20px;
}
.wallery .images-list {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.wallery .images-list .image {
  padding: 10px;
  float: left;
}
.wallery .wallery-toolbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}
.wallery .image {
  position: relative;
}
.wallery .image:hover {
  cursor: grab;
}
.wallery .image:hover .wallary-action {
  display: block;
}
.wallery .image.ui-sortable-helper {
  cursor: move;
}
.wallery .image .image-inner {
  border: 2px solid #e5e5e5;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.wallery .image .image-inner img {
  width: 100%;
  height: auto;
}
.wallery .image .wallary-action {
  position: absolute;
  box-sizing: border-box;
  z-index: 99;
  color: #c93b39;
  text-decoration: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #c93b39;
  background: #fff;
  text-align: center;
  padding: 1px;
  display: none;
}
.wallery .image .remove-image {
  top: 15px;
  right: 15px;
}
.wallery .image .change-image {
  top: 15px;
  right: 40px;
}
.wallery .image-layouts h2.heading-images {
  float: left;
  padding: 10px 0 !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px !important;
}
.wallery .layouts {
  float: right;
}
.wallery .layouts .layout {
  float: left;
  cursor: pointer;
}
.wallery .layouts .layout [class^="wallery-"] {
  font-size: 48px;
  line-height: 48px;
}
